/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.01.2015, 17:28:11
    Author     : vinichenkosa
*/

* {
    font-family: Verdana, sans-serif;
    color: #666666;
    font-size: medium;
    line-height: 2;
}

.text-orange {
    color: #F07C17;
    font-weight: 600;
    padding-bottom: 15px;
    
}

.features-block {
    border: solid 1px #CCCCCC;
    margin-top: 30px;
    padding: 30px;
}

.title-super {
    font-size: 50px;
}

.item-image {
    margin-top: 20px;
}

